* {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
ul {
	list-style: none;
}
body {
	font-size: 12px;
	background: #eee;
}
#goods-list {
	margin: 20px auto;
	width: 1040px;
}
#goods-list li {
	float: left;
	margin: 10px;
	padding: 10px;
	width: 220px;
	background: #fff;
}
#goods-list a{
	margin: 0 auto;
	display: block;
	padding: 8px 4px;
	width: 80px;
	color: #fff;
	text-align: center;
	background: red;
}
#goods-list .goods-title {
	margin: 10px 0;
	text-align: center;
}
#goods-list .goods-price {
	color: #aaa;
	text-align: center;
}
#look{
	display: block;
	margin: 50px auto;
	width:200px;
	height:50px;
	font-size: 20px;
	background: #FF0000;
	color:#EEEEEE;
	border: #AAAAAA;
	border-radius: 5px;
}
