<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>上传头像</title>
</head>
<body>
	<form action="/login/uploadImg" method="post" enctype="multipart/form-data">
		<input type="file" name="avatar"/>
		<input type="submit" value=""/>
	</form>
</body>
</html>