<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>留言</title>
<link rel="stylesheet" href="/stylesheets/comment.css" />
</head>
<body>
	<form action="/comment/addComment">
		<label>留言板<input name="content" /></label>
		<input type="submit" value="提交留言" />
	</form>
</body>
</html>